{% extends "main.html" %}
{% block content %}
{% include "publicHeader.html" %}

<div class="row divider blue">
  <div class="col-md-12"></div>
</div>

<div class="row">
  <div class="col-md-3 topic-list">
    <a href="{{url_for('showResources', topicname='Computers')}}"><h2>Computers</h2></a><br>
    <a href="{{url_for('showResources', topicname='History')}}"><h2>History</h2></a><br>
    <a href="{{url_for('showResources', topicname='Investing')}}"><h2>Investing</h2></a><br>
    <a href="{{url_for('showResources', topicname='Social Science')}}"><h2>Social Science</h2></a><br>
  </div>

  <div class="col-md-9 padding-top">
    <h2>Latest Additions</h2>

    {% for item in catalog %}
    <a href="{{url_for('showItem', topicname=item.topic, resourcename=item.name, resource_id=item.id)}}"><h3>{{item.name}}</h3></a>
    <p>{{item.created_date}}</p><br>
    {% endfor %}
  </div>
</div>

{% endblock %}
